[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

flask = "*"
flask_sqlalchemy = "*"
flask_jwt_extended = "*"
flask_graphql = "*"
graphene_sqlalchemy = "*"

[requires]

python_version = "3.6"